@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --cells-ui-stock-vcard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;}


  .panel-top {
    width: 100%;
    background-color: #f4f4f4;
    border:1px solid #BDBDBD;
    padding: 10px 10px 10px 10px !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  .content-table-stock {
    width: 100wh;
    padding-top: 5px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .actions-buttons-stock{
    display: inline-flex;
  }

  .actions-buttons-stock button {
    margin: 0 4px;
  }

  .btn-action-stock {
    background-color: #1e88e5;
    border: none;
    color: white;
    padding: 11px 14px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}

cells-ui-autocomplete-vcard {
  margin-right: 5px;
  width: 280px;
}

.btn-refresh {
  background-color: #1464A5;
    border: none;
    color: white;
    padding: 12px 14px;
    text-align: center;
    height: 48px;
    width: 130px;
    font-size: 17px;
    cursor: pointer;
    margin-left: 5px;
}
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }

  tbody tr:hover input {
    background-color: #fff;
  }

  .row-warning td {
    background-color: #ffe0b2 !important;
  }

  .row-danger td {
    background-color: #ffcdd2 !important;
  }

  .disabled-input {
    opacity: 0.5;
  }
  
.input{
  height: 48px;
  color: #666;
  width: 248px;
  background-color: #fff;
  border-bottom: 1px #333 solid;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 1rem;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.disabled-input {
  opacity: 0.5;
}

@media only screen and (max-width: 420px) {
  cells-ui-autocomplete-vcard {
    width: 100%;
  }
  .panel-top {
    display: block;
  }

  .input {
    width: 100%;
    margin-bottom: 5px;
  }

  .btn-refresh {
    width: 100%;
    margin: 0px 0px 5px 0px;
  }
}

